.home {
    background-color: black;
    color:crimson;
}

.about {
    background-color: orange;
    color:darkblue;
}

.space_facts {
    background-color: crimson;
    color: black;
}

.discord {
    background-color: darkslateblue;
    color:white
}

.ukraine {
    background-color: yellow;
    color: blue;
}