h1 {
    color:darkslateblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    color:dodgerblue;
    font-family: 'Courier New', Courier, monospace;
}